body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body,
html {
  height: 100%;
}

figure {
  margin: 0;
}

img {
  width: 100px;
  height: 100px;
}

ul {
  border: 0;
  margin: 0 8px 0 0;
  padding: 0;
}

ul.header-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
}

ul.header-links > li > a {
  color: #e5e7eb;
  text-decoration: none;
}

.header {
  align-items: center;
  background-color: #1f2937;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.header-logo {
  color: #f9faf8;
  display: inline;
  font-size: 24px;
  margin: 8px;
}

.image-container {
  border: 2px solid #3882f6;
  border-radius: 16px;
  height: 180px;
  margin: 20px;
  text-align: center;
  width: 180px;
}

.image-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image-grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 30px;
}

.image-header {
  font-size: 24px;
  font-weight: 900;
}

.image-text {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 200px;
}

.introduction {
  align-items: center;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px;
}

.intro-layout {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 70vw;
}

.intro-picture {
  background-color: rgb(156, 146, 146);
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding: 75px 0;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  width: 30vw;
}

.intro-subtext {
  color: #e5e7eb;
  font-size: 10px;
}

.intro-tagline {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.intro-text {
  margin-right: 5%;
  padding: 16px;
  width: 30vw;
}

.main-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.reminder {
  align-content: center;
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
}

.sign-up-info {
  max-width: 70vw;
  padding: 30px;
}

.sign-up-button {
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  height: 40px;
  margin: 0 20px 0 0;
  width: 100px;
}

.sign-up-box {
  align-items: center;
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 16px;
  color: #e5e7eb;
  display: flex;
}

.testimonial {
  align-items: center;
  background-color: lightgray;
  padding: 60px;
}

.test-author {
  font-size: 10px;
  font-weight: 700;
  text-align: right;
}

.test-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 55vw;
}

.test-quote {
  color: gray;
  font-size: 24px;
  font-style: italic;
}
